<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite" parallel="tests" thread-count="2">
    <test name="Test1">
        <classes>
            <class name="com.example.SeleniumTest" />
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="com.example.SeleniumTest2" />
        </classes>
    </test>
</suite>